@import "./variables.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

body{
  background-color: $bg-light;
  color: $text-dark;
}

body, input, button, textarea {
  font: 400 1.6rem 'Roboto', sans-serif;
}

.toggle-theme{
  position: absolute;
  right: 0;
  padding: 2rem;
}