// Defaults:
$white: #fff;
$white-0: #fefefe;
$white-1: #e2e2e2;
$gray-light: #a8a8b3;
$gray-light-1: #737380;
$black: #000;

// Links:
$link-primary: #e559f9;

// Botões:
$btn-google: #ea4335;

// Textos:
$text-dark: #29292e;

// Backgrounds:
$bg-light: #f8f8f8;
$bg-color-primary: #835afd;
$bg-color-gray: #F4F0FF;
$bg-color-disabled: #DBDCDD;
